.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    text-align: center;
    margin-bottom: 63px;
    h2 {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 7px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      opacity: 0.5;
      letter-spacing: 0.12px;
      margin-bottom: 0;
    }
  }

  &__register-link {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.11;
    color: #adadad;
  }

  &__success-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;

    h3 {
      margin-top: 10px;
    }
    p {
      opacity: 0.5;
    }
  }

  .button {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #ffffff;
    width: 100%;
  }

  .form {
    width: 430px;
  }
}
