.message {
  $self: &;
  display: flex;
  margin-bottom: 15px;

  &__content {
    display: flex;
    position: relative;
    max-width: 400px;
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;
    &-item {
      margin-right: 5px;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .avatar {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 8px; //22px
    }
  }

  &__bubble {
    background: #3674ff;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;
  }

  &__icon-readed {
    position: absolute;
    bottom: 25px;
    left: -22px;
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: #e5edff;
    }
  }

  &--is-audio {
    audio {
      display: none;
    }
    width: 250px;
    #{$self}__bubble {
      width: 250px;
      position: relative;
      overflow: hidden;
    }
    #{$self}__audio {
      &-info {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-btn {
        button {
          cursor: pointer;
          border: 0;
          background: #0f3997;
          height: 28px;
          width: 28px;
          border-radius: 30px;
          img {
            height: 13px;
          }
        }
      }
      &-duration {
        opacity: 0.5;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
      }
      &-progress {
        position: absolute;
        background-color: #418fff;
        left: 0;
        top: 0;
        height: 100%;
        transition: width 0.3s ease;
      }
    }
  }
}

.message--isme .message__bubble {
  background: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
  border-radius: 12px 12px 0px 12px;
  .message__text {
    color: #000;
  }
}
.message--isme .message__content {
  flex-direction: row-reverse;
  display: flex;
}

.message--isme .message__avatar {
  img {
    margin-right: 0;
    margin-left: 13px;
  }
}

.message--isme .message__info {
  .message__date {
    text-align: right;
  }
}

.message__typing.message__bubble {
  background: #e5edff;
}

.message__typing {
  span {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin-right: 8px;

    &:nth-of-type(1) {
      animation: cycleOne 1s ease-in-out infinite;
      animation-direction: normal;
    }
    &:nth-of-type(2) {
      animation: cycleTwo 1s ease-in-out infinite;
      animation-direction: normal;
    }
    &:nth-of-type(3) {
      animation: cycleThree 1s ease-in-out infinite;
      animation-direction: normal;
    }
  }
}

.message--image,
.message--is-typing {
  .message__avatar img {
    margin-bottom: 5px;
  }
  .message__attachments-item {
    img {
      width: 150px;
      height: 150px;
    }
  }
}

@keyframes cycleOne {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 1);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}

@keyframes cycleTwo {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 1);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}

@keyframes cycleThree {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 1);
  }
}
